@use '@/assets/variables.scss' as *;

///////////////////////////////////////
// Bulma
///////////////////////////////////////

// Load everything
// @use 'bulma/css/bulma.css';

// Override global Sass variables from the /utilities folder
@use "bulma/sass/utilities" with(
    $primary: $color-primary,
    $link: $color-primary,
    $success: $color-secondary,
);

// Load Bulma's base styles and themes (including the minireset)
@use "bulma/sass/base";
@use "bulma/sass/themes";

// Elements
@use "bulma/sass/elements/title" with (
    $title-color: $color-title
);
@use "bulma/sass/elements/button";
@use "bulma/sass/elements/icon";
@use "bulma/sass/elements/content";
@use "bulma/sass/elements/block";
@use "bulma/sass/elements/box";
@use "bulma/sass/elements/image";
@use "bulma/sass/elements/notification";

// Grid
@use "bulma/sass/grid/columns";

// Components
@use "bulma/sass/components/navbar" with (
    $navbar-item-img-max-height: 50px,
);
@use "bulma/sass/components/card" with (
    $card-content-padding: 0.6rem
);
@use "bulma/sass/components/message";

// Form
@use "bulma/sass/form/input-textarea";
@use "bulma/sass/form/tools";

// Helpers
@use "bulma/sass/helpers/color";
@use "bulma/sass/helpers/flexbox";
@use "bulma/sass/helpers/spacing";
@use "bulma/sass/helpers/typography";
@use "bulma/sass/helpers/other";
@use "bulma/sass/helpers/float";
@use "bulma/sass/helpers/visibility";

// Layout
@use "bulma/sass/layout/section";
@use "bulma/sass/layout/media" with (
    $media-border-size: 0
);
@use "bulma/sass/layout/level";
@use "bulma/sass/layout/footer" with (
    $footer-background-color: $color-primary-select,
    $footer-padding: 32px,
);
@use "bulma/sass/layout/container";
@use "bulma/sass/layout/hero";


///////////////////////////////////////
// Google fonts
///////////////////////////////////////
@font-face {
    font-family: 'Lato';
    src: url('@/fonts/Lato-Regular.ttf') format('woff2');
    font-weight: normal;
    font-style: normal;
}


///////////////////////////////////////
// Custom CSS
///////////////////////////////////////
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

.image img {
    border-radius: 1.5rem;
}
